div.vfl {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

div.fill {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

div.vfl-container {
  @extend div.fill;

  div.vfl-header {
    top: 0;
  }
}
